<% layout('./layouts/boilerplate') -%>


<div class="container-fluid" id="forms">
    <div class="loginbox2">
        <img src="../images/avatar.png" class='avatar'>
        <h1>Reset Password</h1>
        <form class="form-forget mt-5" action="/users/forget" method="POST"> 
          <label for="email" class="sr-only">Email address</label>
          <input type="email" id="email" name="email" class="form-control required email" placeholder="Email address">  
          <input type="submit" name="submit" value="Login">
        </form>
        
        <a href="/users/register">Don't have an account?</a>      
</div>
</div>
 

