<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container-fluid" id="forms">
    <div class="loginbox2">
        <img src="https://cdn2.iconfinder.com/data/icons/network-and-communication-13/28/8_user_profie_avatar_male_accept_verify-512.png" class='avatar'>
        <h1>Verify your email</h1>
        <form class="form-signin" action="/users/verify" method="POST"> 
          <label for="secretToken" class="sr-only">Email verification code</label>
          <input type="text" id="secretToken" name="secretToken" class="form-control required" >  
          <input type="submit" name="submit" value="Verify">
        </form>
        <a href="#">Lost your password?</a><br>
        <a href="#">Don't have an account?</a>      
</div>
</div>

