<% layout('./layouts/boilerplate') -%>


<div class="container">
    <div class="row">
        <div class="col-md-6 justify-content-center mt-5">
                <img style="width: 100%" src="https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Free-Download-Funny-Dog-Background-PIC-WPD005577.jpg" alt="404 image">
                <h1 class="display-1" style="position: absolute; top: 50%; left: 50%"><strong> Opps Something went wrong!</strong></h1>
        </div>
</div>