*,
*::after,
*::before {
	margin: 0;
	padding: 0;

}
.clearfix {
  overflow: auto;
}
body {
  font-family: 'Roboto', sans-serif;
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(2rem)
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: .5;
    transform: translate(-2rem)
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
#main-content {
  position: absolute;
  bottom: 20%;
  color: rgba(202,162,112,1);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
}

#main-content h1 {
animation: moveInLeft 1s ease-out;
}
#main-content h2 {
animation: moveInRight 1s  ease-out;
}

.btn-group1 {
  padding: 24px;
  width: 400px;
  height: 50px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
@media (max-width: 37.5em) {
  .btn-group1 {
    width: 100%;
  }
}

.btn-group1 > input {
  overflow: visible;
}

ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.swiper-container {
  max-width: 100%;
}

/* responive image */
.swiper-container img {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;

/* Remove this if you want 1 slide perview - than change slidesPerView js-option to 1 -or- 2+ instead of 'auto' */
  width: 80%;
}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}


.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat; 
  background-color: transparent;
  background-position: center;
  -webkit-transition-delay: 1s; /* Safari */
}

#map {
  position: relative;
  width: 100%;
  height: 350px;
}
@media (max-width: 37.5em) {
  #map {
   display:none;
  }
}

#delete-btn{
  display: inline;
}
#infoImg {
  width: 24rem;
  height: 24rem;
}
#thumbnailimg {
  width:24rem;
  height: 24rem;
}

.marker {
  background-image: url('/images/mapbox-iconred.png');
  background-position: center;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}
small {
  display: none;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#forms {
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  background: url('https://images.unsplash.com/photo-1519098901909-b1553a1190af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80') no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 37.5em) {
  #forms {
    padding: 0;
  }
}


.error {
  font-size: 12px;
  
}
#newservice {
  width: 100%;
  margin: 20px auto;
}
@media (max-width: 37.5em) {
  #newservice {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  #newservice { 
    width: 100%
  }
}
@media (max-width: 37.5em) {
  #newservice .form-group label{
   font-size: 12px
  }
}

.form-control.error {
  margin: 0 0;
}
.img-fluid {
  width: 100%;
}


.profile-card {
  width: 400px;
  margin: auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
}
@media (max-width: 37.5em) {
  .profile-card {
   font-size: 12px;
   width: 90%;
  }
}

.card-img-top{
  width: 100%;
  height: 250px;
  background-position: bottom center; 
  background-size: cover no-repeat;
}
#service.container-fluid{
  padding: 0;
  margin: 0;
}
.image-container {
  position: relative;
}

.info {
  color: #4b4fe2;
  margin-right: 16px;
}

.main-container {
  padding: 20px;
}

.profilecard {
  height: 96vh;
  background: url(../images/profilebg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.profile-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#avatarprofile {
  width: 35px;
  border: 1px solid #000;
  border-radius: 50%;
}

#userprofileAvatar {
  width: 200px;
}
.slider {
  background: url(../images/fre.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  color: #fff;
}
.d-flex {
  display: flex;
}
.justify-content-center{
 text-align: center;
}


.category-box {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  background: #fff;
  text-align: center;
  transition: 0.5s;
}
.category-box:hover  {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(35, 209, 186);

  text-align: center;
  transform: scale(1.3);
  transition: 0.5s;
  z-index: 1;

}
.img-box {
  font-size: 2rem;
  text-align: center;
  color: #111213;
  margin-top: 25px;
}

.inner-content-box {
 margin: 100px 100px;
}
.inner-content-box h1 {
  font-size: 3rem;
}
.inner-content-box p {
  font-size: 1.5rem;
}


#checkbox {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;

 
}
.formbuttons {
  display: inline;
  text-transform: none;
  list-style: none;
}
#checkbox img {
  margin: 10px;
}
#checkbox:before {
content:"";
position: absolute;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.5);
bottom: -100%;
pointer-events: none;
z-index: 11;
}

#checkbox li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 20px;
}

#checkbox li label {
  position: relative;

}
#checkbox li label input[type="checkbox"]
{
  position: absolute;
  opacity: 0;
  cursor: pointer;

}
#checkbox li label .iconbox {
  width: 30px;
  height: 30px;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
} 
#checkbox li label .iconbox .fas {
  font-size: 20px;
  color: rgb(139, 72, 72);
  transition: 0.5s;
}
#checkbox li label input[type="checkbox"]:checked ~ .iconbox {
  background: #000;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5),
              0 0 20px rgba(255, 0, 0, 0.5),
               0 0 30px rgba(255, 0, 0, 0.5),
               inset 0 0 10px rgba(255, 0, 0, 1);             
}
#checkbox li label input[type="checkbox"]:checked ~ .iconbox .fas {
color: rgb(199, 29, 29);
text-shadow: 0 0 10px rgb(255, 0, 0, 1),
             0 0 10px rgb(240, 0, 0, 1),


}
#description {
  white-space: pre;
}
#profile_edit_button {
  width: 200px;
}

/* userprofile */
.userprofile {
  padding: 0;
 
}
.useraccount li {
  list-style: none;
}

.userprofile legend {
  text-align: left;
}

/*profiler page */
#profiler {
  padding: 100px;
}

@media (max-width: 37.5em) {
  
.container-fluid #profiler {
    padding: 0;
  }
 
}

textarea {
  white-space: pre-wrap;
}
.input-group-prepend span{
  width: 35px;
  background-color: #ff0000;
  color: #fff;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn{
  width: 130px;
}

.login_btn:hover{
  color: #fff;
  background-color: #ff0000;
}

.btn-outline-danger {
  color: #dc3545;
 
}



.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0;
}
.newServiceHeader{
  background-image: url("../images/darkimg.jpg");;
  overflow: hidden;
  margin: 30px 0;
  border: 5px solid rgb(74, 154, 219);

}

@media (max-width: 37.5em){
  .newServiceHeader {
    width: 100%;
  }
}
.newServiceHeader h1 {
  color:white;
  padding: 5px ;

}
.popover-content {
  display: none;
}
.toggle {
  width: 150px;
  padding: 20px;
  position: fixed;
  top: 100px;
  right: 20px;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}
.toggle i {
  font-size: 30px;
  transition: 0.5s;
  background: none;
  color: #000;
  position: absolute;
  top:0 ;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.toggle i:nth-child(2) {
transform: translateY(100%);
color: #11fde9;
}
.toggle.active i:nth-child(2) {
  transform: translateY(0)
  }

.main_section {
  padding-top: 90px;
}

.social-media i {
  font-size: 30px;
  transition: .5s;
  color: #020200;
}
.btn.btn-link {
  padding: 0;
}
@media (max-width: 37.5em){
  .btn.btn-link {
    font-size: 12px;
  }
}