<% layout('./layouts/boilerplate') -%>

<div class="container-fluid">
    <div class="row" id="profiler" style="margin: 0 auto">
        <div class="col-md-3" style="margin: 0 auto">
            <div class="img-thumbnail">
                <h1 style="text-transform: capitalize">
                    <% if(currentUser.local.username) { %>
                    <%= currentUser.local.username %>'s profile</h1>
                <% } %>
                <% if(currentUser.facebook.name) { %>
                <h1 style="text-transform: capitalize">
                    <%= currentUser.facebook.name %>'s profile</h1>
                <% } %>
                <img class="img-fluid" src="<%=user.local.images.url %>" alt="">
            </div>

            <div class="list-group d-none d-md-block">
                <a href="#" class="list-group-item">User Settings</a>
                <a href="" class="list-group-item active">Change Password</a>
                <a href="" class="list-group-item">Info 3</a>
            </div>
        </div>
       
        <div class="col-md-9" style="margin: 0 auto">
            <div class="useraccount" style="margin: 0 auto">
                        <div class="border border-dark"><legend class="bg-dark" style="color:white">Reset Password</legend>
                            <div class="px-5 py-5">
                                <div class="container">
                            <form action="/users/users?_method=PUT" method="POST" aria-labelledby="updatePassword">
                                <div class="form-group">
                                  <label for="current-password">Current Password</label>
                                  <input type="password" name="currentPassword" placeholder="Current password" class="form-control" autofocus="autofocus"  id="current-password" autofocus/>
                                </div>
                                <div class="form-group">
                                  <label for="password">New Password</label>
                                  <input type="password" name="password" placeholder="New password" class="form-control" autofocus="autofocus"  id="password"/>
                                </div>
                                <div class="form-group">
                                  <label for="confirm">Confirm Password</label>
                                  <input type="password" name="confirm" placeholder="Confirm password" class="form-control" id="confirm"/>
                                </div>
                                <div class="form-group">
                                  <button type="submit" class="btn btn-primary">Update Password</button>
                                </div>
                              </form>
                            </div>  
                        </div>
                </div>        
            </div>
        </div>
     <!--end of row-->
</div>
    <!--end of container-->


     